*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif
}

.calculator{
    background-color: #504F4E;
    color: white;
}


.header{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: bold;
}

.screen{
    height: 130px;
    padding: 3px;
}

.operations{
    min-height: 27px;
    font-size: .8em;
    text-align: right;
    padding: 6px;
}

.accumulator{
    font-size: 1.8em;
    text-align: right;
    padding: 6px;
    font-weight: 600;
}

.keyboard{
    width: 100%;
    padding: 1px;
}

.row{
    display: flex;
    justify-content: space-around;
}

.memory{
    display: flex;
}

.memoryKey{
    width: 16.4%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7em;
    font-weight: bold;
    margin: 1px;
    background-color: #504F4E;
    color: white;
    margin: 1px;
    border: none;
    outline: none;
    cursor: pointer;
}
.memoryKey:hover{
    background-color: #323232;
}
.memoryKey:active{
    box-shadow: -1px -1px 1px #323232;
}

.key{
    width: 24.8%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    border-radius: 0;
    background-color: #323232;
    color: white;
    margin: 1px;
    border: none;
    outline: none;
    cursor: pointer;
}
.key:hover{
    background-color: #242424;
}
.key:active{
    box-shadow: -1px -1px 1px #242424;
}

.key.dark{
    background-color: #111111;
    color: white;
}
.key.dark:hover{
    background-color: #242424;
}
.key.dark:active{
    box-shadow: -1px -1px 1px #242424;
}

.key.result{
    background-color: #504F4E;
    color: white;
}
.key.result:hover{
    background-color: #242424;
}
.key.result:active{
    box-shadow: -1px -1px 1px #242424;
}

.options{
    height: 40px;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.option{
    font-size: .9em;
    text-align: center;
    font-weight: bold;
    padding: 8px 0;
    margin: 20px; 
    cursor: pointer;
}

.option.selected{
    border-bottom: 3px solid white;
}

.registry{
    padding: 4px;
    margin-right: 15px;
    height: 550px;
    overflow-y: auto;
}

.registry::-webkit-scrollbar{
    width: 0px;
}

.inactive{
    display: none;
    border-bottom: none;
}

.record{
    padding: 2px;
    margin-top: 3px;
    margin-bottom: 16px;
}

.accumulator.history{
    font-size: 1.4em;
}

.emptyMemory{
    font-size: .9em;
    text-align: right;
    padding: 6px;
}


@media only screen and (min-width: 426px) {
    .calculator{
        width: 80%;
        display: flex;
        margin: auto;
    }

    .leftPanel{
        width: 61%;
    }
    .rightPanel{
        width: 39%;
    }
}

@media only screen and (min-width: 769px) {
    .calculator{
        width: 60%;
    }
}

@media only screen and (min-width: 1025px) {
    
    .calculator{
        width: 60%;
    }
    
    .screen{
        height: 130px;
    }

    .operations{
        font-size: .9em;
        text-align: right;
        padding: 6px;
    }
    
    .accumulator{
        font-size: 2.7em;
        text-align: right;
        padding: 6px;
        font-weight: 600;
    }

    .key{
        height: 70px;
    }
}

